.cover{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #262E59;
}

.wrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper > div{
    width: 20%;
    background: #3E3F7E;
    border-radius: 10px;
    padding: 1rem;
    justify-content: space-between;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.wrapper > div > img{
    width: 20%;
}

.wrapper h6{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.wrapper p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}